---
title: Beautiful Idiomatic Python
tags: [jupyter]
keywords: course, youtube, pycon
summary: "This notebook is basically my notes on the python tutorial by the lead engineer/developer in python."
sidebar: youtube_sidebar
permalink: __AutoGenThis__
notebookfilename:  __AutoGenThis__
---

# Introducation

This notebook is basically my notes on the python tutorial by the lead engineer/developer in python.  This tutorial can be found on [YouTube](https://www.youtube.com/watch?v=OSGv2VnC0go)

# Loops

In [1]:
for i in [0,1,2,3,4,5]:
    print(i)

0
1
2
3
4
5

This is the same as

In [2]:
for i in range(5):
    print(i)

0
1
2
3
4

Another way of thinking about it is saying the this loop is a for each statement instead of for statement.

In [3]:
colors = ['red','green','blue','yellow']

In [4]:
for c in colors:
    print(c)

red
green
blue
yellow

## looping backwards

### Using reversed

In [5]:
for color in reversed(colors):
    print(color)

yellow
blue
green
red

## looping over a collection and indicies at the same time

### Using enumerate

In [6]:
for i,color in enumerate(colors):
    print(i,color)

0 red
1 green
2 blue
3 yellow

## looping over two collections

In [7]:
names = ['raymond','rachel','mathew']
colors = ['red','green','blue','yellow']

### Using Zip

In [8]:
for name,color in zip(names,colors):
    print(name,color)

raymond red
rachel green
mathew blue

## Custom sort oder

The key function is called once per key.  In this case you have sorted the list based on length instead of alphabetical.

In [9]:
print(sorted(colors,key=len))

['red', 'blue', 'green', 'yellow']

## Breaking out of a loop

In [10]:
def myFind(seq,target):
    for i, value in enumerate(seq):
        if value == target:
            break
    else:
        return -1
    return i

In [11]:
myFind(colors,'yellow')

3

# Dictionaries

These are the fundamental tool for expressing relationships, linking, counting and grouping

In [12]:
d = {'mathew':'blue',
       'rachel':'green',
       'raymond':'red'}

In [13]:
for k in d:
    print(k)

mathew
rachel
raymond

In [14]:
for k,v in d.items():
    print(k,v)

mathew blue
rachel green
raymond red

## contstructing

In [15]:
names = ['raymond','rachel','mathew']
colors = ['red','green','blue']

First **zip** both the arrays like we did in loops and for each item within the array you create a dictionary object which is then appended together and returns the dictionary.

In [17]:
d = dict(zip(names,colors))
print(d)

{'raymond': 'red', 'rachel': 'green', 'mathew': 'blue'}

Using **enumerate** we can also create indices for each of the array values.

In [18]:
d = dict(enumerate(names))
print(d)

{0: 'raymond', 1: 'rachel', 2: 'mathew'}

## counting

In [19]:
colors = ['red','green','blue','red','green','blue']

**Long** method of counting the values

In [22]:
d = {}
for c in colors:
    if c not in d:
        d[c]=0
    d[c] +=1

d

{'red': 2, 'green': 2, 'blue': 2}

**Faster** method

In [26]:
d = {}
for c in colors:
    # get the color if it is not there make it zero if it is then add 1
    d[c] = d.get(c,0)+1
d

{'red': 2, 'green': 2, 'blue': 2}

**newer** method

## grouping dictionaries

In [28]:
names = ['raymond','rachel','matthew','roger',
         'betty','melissa','judith','charlie']

This will be by name length

In [30]:
d = {}
for name in names:
    key = len(name)
    if key not in d:
        d[key]=[]
    d[key].append(name)

d

{7: ['raymond', 'matthew', 'melissa', 'charlie'],
 6: ['rachel', 'judith'],
 5: ['roger', 'betty']}

Shorter but not the legible

In [31]:
d = {}
for name in names:
    key = len(name)
    d.setdefault(key,[]).append(name)

# Unpacking sequence

In [33]:
p = 'Raymond','Hetter',0x30,'python@example.com'

**Long** method and I do this often

In [34]:
fName = p[0]
lNane = p[1]
age = p[2]
email= p[3]

In [35]:
print(fName,lNane,age,email)

Raymond Hetter 48 python@example.com

really quick method we can do this

In [36]:
fName, lNane, age, email = p

In [37]:
print(fName,lNane,age,email)

Raymond Hetter 48 python@example.com

# Updating multiple state variables

In [38]:
def fibonacci(n):
    x = 0
    y = 1 
    for i in range(n):
        print(x)
        t = y
        y= x + y
        x=t

In [39]:
fibonacci(7)

0
1
1
2
3
5
8

Update everything in one line of code.  The good thing about this is that there is no in between.  Everything gets updated at the same time.

What's on the right refers to the previous values and what is on the left is the new row that gets iterated.

In [40]:
def fibonacci(n):
    x,y = 0,1    
    for i in range(n):
        print(x)
        x,y = y,x+y

In [41]:
fibonacci(7)

0
1
1
2
3
5
8

# Concat strings

In [42]:
names = ['raymond','rachel','matthew','roger',
         'betty','melissa','judith','charlie']

s = names[0]
for name in names[1:]:
    s +=','+name
print(s)

raymond,rachel,matthew,roger,betty,melissa,judith,charlie

In [44]:
print(', '.join(names))

raymond, rachel, matthew, roger, betty, melissa, judith, charlie

# Conclusions

**Raymond's rule:**
One logical line of code equals one sentence in English

Lets look at the example.  Output the square sum of each number from 1-10

In [52]:
cumSum = []
for i in range(5):
    cum = i**2
    cumSum.append(cum)
print(sum(cumSum))

30

In [48]:
print(sum([i**2 for i in range(5)]))

30

Creating a generator version of this instead of making an instance at the same time.

In [53]:
print(sum(i**2 for i in range(5)))

30